/* Colors from https://coolors.co/12130f-5b9279-8fcb9b-eae6e5-8f8073
  LICORICE - #12130F
  WINTERGREEN DREAM - #5B9279
  ETON - #8FCB9B
  PLATINUM - #EAE6E5
  CINEREOUS - #8F8073
*/

.App {
  text-align: center;
  margin: 10px auto;
}

.radio input {
  margin-right: 5px;
  padding-bottom: 3px;
  height: 16px;
}

.question-form {
  max-width: 50%;
  margin: auto;
}
.question-form .form-control {
  margin-bottom: 1.5em;
}

.question-form .control-label {
  margin-top: 1.5em;
}

.ticket {
  position: relative;
  height: 100vh;
  background-color: #EAE6E5;
  color: #8F8073;
}
.ticket .header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
}

.ticket .header h1 {
  font-size: 5em;
  margin-bottom: .5em;
  font-family: futura, sans-serif;
}

.ticket .header p {
 display: inline-block;
 position:relative;
 padding: .7em;
 padding-left: 2em;
 background: #5B9279;
 color: rgba(255,255,255,.9);
 font-weight: bold;
 font-size: 4em;
}

.ticket .header p:before {
 content: '';
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index:1;

 background: -moz-radial-gradient(.6em .6em, circle, #EAE6E5 .55em, rgba(255,255,255,0) .6em) -.6em -.6em,
             -moz-radial-gradient(1em 50%, circle, #EAE6E5 .35em, rgba(255,255,255,0) .4em),
             -moz-radial-gradient(1em 47%, circle, #EAE6E5 .4em, transparent .43em);
 background: -o-radial-gradient(.6em .6em, circle, #EAE6E5 .55em, rgba(255,255,255,0) .6em) -.6em -.6em,
             -o-radial-gradient(1em 50%, circle, #EAE6E5 .35em, rgba(255,255,255,0) .4em),
             -o-radial-gradient(1em 47%, circle, #EAE6E5 .4em, transparent .43em);
 background: -ms-radial-gradient(.6em .6em, circle, #EAE6E5 .55em, rgba(255,255,255,0) .6em) -.6em -.6em,
             -ms-radial-gradient(1em 50%, circle, #EAE6E5 .35em, rgba(255,255,255,0) .4em),
             -ms-radial-gradient(1em 47%, circle, #EAE6E5 .4em, transparent .43em);
 background: -webkit-radial-gradient(.6em .6em, circle, #EAE6E5 .55em, rgba(255,255,255,0) .6em) -.6em -.6em,
             -webkit-radial-gradient(1em 50%, circle, #EAE6E5 .35em, rgba(255,255,255,0) .4em),
             -webkit-radial-gradient(1em 47%, circle, #EAE6E5 .4em, transparent .43em);
}
.ticket .header p:after {
  content: '';
  position:absolute;
  top:.25em;
  right:.25em;
  bottom:.25em;
  left:.25em;
  border: 1px rgba(0,0,0,.3) dashed;
  outline: 1px rgba(255,255,255,.5) dashed;
}

/* answering remaining questions out of scope for quick pet project */
.extraForm {
  display: none;
}


/****************** AMBIN PAGE  *********************/
.winners {
  min-height: 50px
}

.activeQuestion {
  color: teal;
  text-decoration: underline;
}

.activeAnswers {
  text-decoration: none;
  list-style: none;
}

.inactiveAnswers {
  display: none;
}

.resetButton {
  margin-top: 100px;
  background-color: #b33a3a;
  border-radius: 5%;
  border: maroon 2px inset;
  color: white;
}

/* Media Queries */
@media (max-width: 375px) {
  .ticket .header p {
    font-size: 3.5em;
  }
}
